{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block head %}
        <meta charset="UTF-8">
        <title>base page</title>
        <link rel="im">
    {% endblock %}

</head>
<body>

    <div>
        <img src="{% static 'images/home.jpg' %}" alt="home_image" style="display: block; margin-right: auto; margin-left: auto; width: 15%" >
    </div>

<div style="width: 100%; text-align: center">
    <a>Hello from new project!</a>
</div>
<div>
    {% block content %}
        <h2>Доступные товары</h2>
        <ul>
            {% for detail in details %}
                <li><a href="{% url 'shop:detail' detail.id %}">{{ detail }}</a></li>
            {% endfor %}
        </ul>

        <h2>Доступные категории</h2>
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'shop:category' category.id %}">{{ category }}</a></li>
            {% endfor %}
        </ul>
    {% endblock %}
</div>
</body>
</html>