{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base page</title>
    <link rel="im">
</head>
<body>
<div>
    <img src="{% static 'images/home.jpg' %}" alt="home_image" style="display: block; margin-right: auto; margin-left: auto; width: 15%" >
</div>
<div style="width: 100%; text-align: center">
    <a>Hello from new project!</a>
</div>
<div>
    <h2>Доступные товары</h2>
    <ul>
        {% for detail in details %}
            <li>{{ detail }}</li>
        {% endfor %}
    </ul>

    <h2>Доступные категории</h2>
    <ul>
        {% for category in categories %}
            <li>{{ category }}</li>
        {% endfor %}
    </ul>
</div>
</body>
</html>